<!DOCTYPE html>
<html lang="fr">
<% title "Guide de survie | " %>

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
  <div class="container">

    <div class="row">
      <div class="box">
        <div class="col-lg-11 text-center">
          <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive img-full" src="saint_michel.jpg" alt="">
              </div>
              <div class="item">
                <img class="img-responsive img-full" src="cathedrale_stras.jpg" alt="" >
              </div>
              <div class="item">
                <img class="img-responsive img-full" src="haut.jpg" alt="">
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="icon-next"></span>
            </a>
          </div>
          <h2 class="brand-before">
            <small>Bienvenue</small>
          </h2>
          <h1 class="brand-name">dans le guide survie</h1>
          <hr class="tagline-divider">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>La flammekueche</strong>
          </h2>
          <hr>
          <img class="img-responsive img-border img-left" src="flammekueche.jpg" alt="">
          <hr class="visible-xs">
          <p>Alors amis bretons, l'odeur du feu d'une cheminée vous attire? Vous auriez bien envie de manger une flammekueche non?</p>
          <p>Allez y, laissez vous tenter par ce met délicieux mais Garre à Vous! Jamais, au grand jamais ne prononcez ce mot.</p>
          <p>Tarte flambée, voilà comment vous devez l'appeler si vous ne voulez pas vous rammasser un coup par un alsacien fervant de sa langue.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">
            <strong>Les crêpes et les galettes</strong>
          </h2>
          <hr>
          <img class="img-responsive img-border img-right" src="crepe.jpg" alt="">
          <hr class="visible-xs">
          <p>Si je dis "Bretagne", je sais que la première chose à quoi vous pensez c'est aux galettes et aux crêpes. L'odeur de la pâte et l'arôme de celles ci!</p>
          <p>Par conter soyez vigilent sur les mots que vous employés, les bretons sont gentils sauf quand on se trompe de vocabulaire!!!</p>
          <p>Salé = galette, Sucré = crêpe! Notez bien ça quelque part avant d'y aller. Certains ont seulement été refusé d'un restaurant, mais sachez que d'autres ont fini en kouign amann! </p>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Copyright &copy; Breilsass 2017</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
  </script>

</body>

</html>
