<html lang="fr">
<head>
  <link href="home.css" rel="stylesheet">
</head>

<body>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Wilkomme ! <span class="special-color">Degemer mat !</span></h1>
      <p>Bon c'est juste un exemple hein. Ça a le mérite d'être sobre (pas comme les bretons), voilà voilà.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Se rendre quelque part &raquo;</a>
      </p>
    </div>
    <div class="corps">
    <img src="flagbzh.jpg" class="img-thumbnail" alt="Gwenn a Du" width="304" height="236">
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Tous droits réservés.</p>
        <a href="../about">À propos</a>
      </div>
    </footer>
  </div> <!-- /container -->
  </body>
</html>
