<html lang="fr">
<body>
  <div class="jumbotron">
    <h1>Salut bissame ! <span class="special-color">Degemer mat !</span></h1>
  </div>
  <div class="corps">
    <img src="flagbzh.jpg" class="img-thumbnail" alt="Gwenn a Du" width="304" height="236">
    <img src="alsace.jpg" class="img-thumbnail" alt="Drapeau alsacien" width="304" height="236" style="float:right">
  </div>
</div>
</body>
</html>
