<h1>Breilsass</h1>

<p>Salut bissame <%= @user.username %>,</p>

<p>
Bienvenue sur Breilsass ! Clique sur le lien ci-dessous pour activer ton compte :
</p>

<%= link_to "Activation", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>

<p>Kenavo !</p>
