<h1 class="comment">Commentaires :</h1>
<div class="hrComment"></div>
<% @comments.each do |comment| %>

<p class="commentary"> <%= comment.body %> </p>
<p class="published"><em>Posté par :</em> <b> <%= comment.user.username %> </b><%=comment.created_at.strftime("le %d/%m/%Y à %R")%> </p>
<div class="hrComment"></div>

<% end %>
<p> <%= link_to "Retour aux articles", '/survie' %></p>
