<% title "Membres | " %>

<h1>Tous les membres</h1>

<ul class="users">
    <% @users.each do |user| %>
    <p></p>
    <%= link_to user.username, user %>
    <% if current_user.admin? && !current_user?(user) && !user.admin? %>
    | <%= link_to "(supprimer)", user, method: :delete, data: { confirm: "Vous êtes sûr ?" } %>
      <%= link_to "(promouvoir admin)", {:action => controller.up_admin, :u => user}, {:method => :put , data: { confirm: "Vous êtes sûr ?" }} %>
    <% end %>
    <% end %>
</ul>

<%= will_paginate :previous_label => 'Précédent', :next_label => 'Suivant' %>
