<!DOCTYPE html>
<html lang="fr">
  <head>
    <%  title "Actualités | "  %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        <% @rss_results.each do |article| %>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                      <a href="<%= article[:link] %>">
                        <h2 class="post-title">
                            <%= article[:title] %>
                        </h2>
                        <h3 class="post-subtitle">
                              <%= article[:description] %>
                        </h3>
                    </a>
                    <p class="post-meta"><%= article[:pubDate].strftime("Publié le %d/%m/%Y à %R") %> | <a href="https://dna.fr"><em>Source: DNA</em></a></a></p>
                </div>
                <hr>
            </div>
          <% end %>
      </div>
</body>

</html>
