.post-title,
.post-meta{
  text-align: center;
  color: black;
}

.img-responsive{
  position: absolute;
  bottom: 70px;
  width: 180px;
  height: 180px;
}

.section-heading-spacer {
  margin-bottom: 10px;
  margin-top: 10px;
    float: center;
    width: 800px;
    border-top: 5px solid #e7e7e7;
}
