// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

div[class="jumbotron"] h1 {
	color: red;
}
.special-color {
	color: gray;
}

.footer {
  position: absolute;
  bottom: 50;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}
